<div mat-dialog-title style="display: flex;
  justify-content: end;margin:0px;">
    <button mat-icon-button (click)="Close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="body" style="max-height: 420px;">
    <form [formGroup]="CreditVoucherDetailsForm">
        <app-form-webxpress [form]="CreditVoucherDetailsForm" [FormTitle]="'Credit Voucher Details'"
            [formData]="jsonControlCreditVoucherDetailsArray" (functionCallEmitter)="functionCallHandler($event)"
            (callFunction)="functionCallHandler($event)" [showSaveAndCancelButton]="true">
        </app-form-webxpress>
    </form>
</div>