<div class="row">
    <div>
        <div class="row">
            <form [formGroup]="NonFreightChargesForm">
                <app-form-webxpress [form]="NonFreightChargesForm" [FormTitle]="'Non Freight'"
                    [formData]="jsonControlArrayNonFreightCharges" (functionCallEmitter)="functionCallHandler($event)"
                    [EventButton]="NonFreightChargesForm.valid==true ? EventButton : false"
                    [showSaveAndCancelButton]="false" (callFunction)="functionCallHandler($event)">
                </app-form-webxpress>
            </form>
        </div>
        <div class="row">
            <app-generic-table-v2 *ngIf="tableLoad" [dynamicControls]="dynamicControls"
                [columnHeader]="ChargescolumnHeader" [FormTitle]="'Non Freight Charge Matrix'" [tableData]="tableData"
                [menuItems]="menuItems" [staticField]="ChargesstaticField" [Link]="linkArray"
                [menuItemFlag]="menuItemflag" [addFlag]="addFlag" (functionCallEmitter)="functionCallHandler($event)">
            </app-generic-table-v2>
            <div *ngIf="isLoad" class="d-flex justify-content-center align-items-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>