<app-common-wrapper-webxpress [breadscrums]="breadscrums">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 0px;">
            <form [formGroup]="companyGstTableForm">
                <app-form-webxpress [form]="companyGstTableForm" [formData]="jsonControlArray"
                    (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
                </app-form-webxpress>
            </form>
        </div>
    </div>
    <!-- Loading Generic table as parent component and passing  required data-->
    <!--
        columnHeader: a object that contains only that pair of column id:title that are to be shown on dashBoard.
        tableData : api Response.
        addAndEditPath : path of the page where Add and edit is handled.
        uploadComponent : REference of component, which is to be opened in dialog box.
        csvHeaders : a object that contains ordered pair of column id:title that are to be shown in csv file.
        csvFileName : Name of the csv File.
        activeFunction : function refrence that takes data from child , in order to do changes in parent (current) component.
         -->
    <!-- <generic-table-webxpress *ngIf="!tableload" [columnHeader]="columnHeader" [tableData]="csv"
        [csvFileName]="csvFileName" (onFlagChange)="IsActiveFuntion($event)" [metaData]="METADATA" [Link]="linkArray"
        [toggleArray]="toggleArray" [menuItems]="menuItems" (menuItemClicked)="handleMenuItemClick($event)"
        [menuItemFlag]="menuItemflag" [dynamicControls]="dynamicControls">
    </generic-table-webxpress> -->

    <app-generic-table-v2 *ngIf="tableload" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader"
    [tableData]="TableData" [EventButton]="EventButton" (functionCallEmitter)="functionCallHandler($event)"
     [FormTitle]="'GST List'" [staticField]="staticField">
  </app-generic-table-v2>
</app-common-wrapper-webxpress>