<app-common-wrapper-webxpress [breadscrums]="breadScrums">
    <form [formGroup]="cityLocationTableForm">
        <app-form-webxpress [form]="cityLocationTableForm" [formData]="jsonControlArray"
            (callFunction)="functionCallHandler($event)">
        </app-form-webxpress>
    </form>
    <div *ngIf="apiShow">
    <app-table-boilerplate *ngIf="show" [tableData]="tableData" [columnHeader]="cityLocationDisplayedColumns"
        title="City to Location Mapping Master" (DeleteAction)="delete($event,'tableData')" (AddRow)="addCity($event)"
        (functionCallEmitter)="functionCallHandler($event)" (Submit)="saveData($event)" [showsubmit]="true"
        [ActionObject]="actionObject" (callFunction)="functionCallHandler($event)"></app-table-boilerplate>

    <app-table-boilerplate *ngIf="!show" [tableData]="tableData1" [columnHeader]="locationCityDisplayedColumns"
        title="Location to City Mapping Master" (DeleteAction)="delete($event,'tableData1')" (AddRow)="addLocation($event)"
        (functionCallEmitter)="functionCallHandler($event)" (Submit)="saveData($event)" [showsubmit]="true"
        [ActionObject]="actionObject" (callFunction)="functionCallHandler($event)"></app-table-boilerplate>
    </div>
</app-common-wrapper-webxpress>