<div><!-- This row holds the boxes of the dashboard -->
  <h4 class="m-b-10"><u>{{boxData?.Title}}</u></h4>
  <div *ngIf="boxData?.Items" class="row clearfix dashboardcard">
    <!-- This loop creates a box for each item in the boxData array -->
    <div class="col-lg-3 col-sm-3" *ngFor="let box of boxData?.Items | keyvalue" [style]="style">
      <!-- This box is a clickable item -->
      <div [class]="box.value.class">
        <div class="info-box7-block">
          <h5 class="m-b-10 white">{{box.value.title}}</h5>
          <h2 class="text-end white"><i [class]="box.value.icon"></i><span>{{box.value.count}}</span></h2>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div *ngIf="boxData" class="row clearfix dashboardcard">
    <!-- This loop creates a box for each item in the boxData array -->
    <div class="col-lg-3 col-sm-3" *ngFor="let box of boxData | keyvalue" [style]="style">
      <!-- This box is a clickable item -->
      <div [class]="box.value.class">
        <div class="info-box7-block">
          <h5 class="m-b-10 white">{{box.value.title}}</h5>
          <h2 class="text-end white"><i [class]="box.value.icon"></i><span>{{box.value.count}}</span></h2>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div *ngIf="kpiData" class="row clearfix dashboardcard">
    <!-- This loop creates a box for each item in the kpiData array -->
    <div class="col-lg-3 col-sm-3" *ngFor="let box of kpiData" [style]="style">
      <div [class]="box.class" style="height: 80%; display: flex; align-items: center; justify-content: center;">
        <div class="info-box7-block">
          <h2 style="text-align: center;"><span>{{box.title}} </span>{{box.count}}
          </h2>
          <h2 style="text-align: center;"><span>{{box.title1}} </span>{{box.count1}}
          </h2>
          <h6 style="text-align: center;" class="m-b-10">{{box.Title}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
