<form [formGroup]="loadingSheetTableForm">
    <app-form-webxpress [form]="loadingSheetTableForm" [FormTitle]="'Vehicle Loading'"
    [formData]="updateListData" (functionCallEmitter)="functionCallHandler($event)"
    [showSaveAndCancelButton]="false" (callFunction)="functionCallHandler($event)">
  </app-form-webxpress>
</form>
<generic-table-webxpress *ngIf="!tableload" [columnHeader]="shipingHeader" [tableData]="shipingDataTable"
[addAndEditPath]="addAndEditPath" [uploadComponent]="uploadComponent" [csvHeaders]="shipingHeaderForCsv"
[csvFileName]="csvFileName" (onFlagChange)="IsActiveFuntion($event)" [metaData]="METADATA" [Link]="linkArray"
[toggleArray]="toggleArray" [extraData]="extraData" [menuItems]="menuItems"
(menuItemClicked)="handleMenuItemClick($event)" [menuItemFlag]="menuItemflag"
[dynamicControls]="dynamicControls" [centerAligned]="centerShippingData">
</generic-table-webxpress>

<app-generic-card-webxpress [boxData]="boxData"></app-generic-card-webxpress>
<div class="search-bar-container">
    <input #scanPackageInput type="text" placeholder="Scan..." [(ngModel)]="scanPackage" (change)="updatePackage()"  class="search-bar-input">
    <button class="search-bar-button"(click)="updatePackage()">Scan</button>   
    &nbsp;
    <mat-error>
        <div class="list-group-item-text danger m-2">{{scanMessage}}</div>
    </mat-error>     
</div>


<generic-table-webxpress *ngIf="!tableload" [columnHeader]="columnHeader" [tableData]="loadingTableData"
    [addAndEditPath]="addAndEditPath" [uploadComponent]="uploadComponent" [csvHeaders]="headerForCsv"
    [csvFileName]="csvFileName" (onFlagChange)="IsActiveFuntion($event)" [metaData]="METADATA" [Link]="linkArray"
    [toggleArray]="toggleArray" [extraData]="extraData" [menuItems]="menuItems"
    (menuItemClicked)="handleMenuItemClick($event)" [menuItemFlag]="menuItemflag"
    [dynamicControls]="dynamicControls"  [columnWidths]="columnWidths" [centerAligned]="centerAlignedData">
</generic-table-webxpress>
<div class="row" *ngIf="!tableload">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
        <div class="example-button-row d-flex justify-content-end">
            <button class="msr-3" mat-raised-button color="primary" (click)="CompleteScan()">Complete Scan</button>
            <button  class="msr-3" mat-raised-button color="primary" (click)="Close()">Close</button>
        </div>
    </div>
</div>
