<div>

  <div *ngIf="showTable">
    <div style="margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">
      <mat-form-field appearance="outline">
        <mat-label>Select Account Category</mat-label>
        <mat-select (selectionChange)="sortAccountCategory()" [(value)]="SelectAccountCategory">
          <mat-option *ngFor="let item of SelectAccountCategoryData" [value]="item">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button style="box-shadow: none; margin-right: 15px;background: rgba(0, 0, 0 , 0.1); color:black"
        (click)="close()" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div style="width: 96%; margin: 0px auto;">
      <app-generic-table-v2 *ngIf="isTableLode" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader"
        [tableData]="TableData" [EventButton]="EventButton" (functionCallEmitter)="functionCallHandler($event)"
        [metaData]="metaData" [Link]="linkArray" [FormTitle]="'Accounts Group List'" [staticField]="staticField">
      </app-generic-table-v2>
    </div>
    <div *ngIf="!isTableLode" class="d-flex justify-content-center align-items-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div *ngIf="!showTable">
    <div style="margin: 5px; display: flex; justify-content: flex-end; align-items: center; padding-bottom: 5px;">
      <button style="box-shadow: none; margin-right: 15px;background: rgba(0, 0, 0 , 0.1); color:black"
        (click)="close()" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div style="width: 96%; margin: 0px auto;">
      <form [formGroup]="AccountGroupForm">
        <app-form-webxpress [form]="AccountGroupForm" [formData]="jsonControlAccountGroupArray"
          [showSaveAndCancelButton]="true" [FormTitle]="FormTitle"
          [className]="'col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2'" (callFunction)="functionCallHandler($event)"
          (functionCallEmitter)="functionCallHandler($event)">
        </app-form-webxpress>
      </form>
    </div>
    <!-- <div style="margin-top: 10px;">
      <button mat-raised-button [disabled]="!AccountGroupForm.valid" (click)="Save()" color="primary"
        class="mx-3">Save</button>
      <button mat-raised-button (click)="cancel()">cancel</button>
    </div> -->
  </div>
</div>