<div class="page-with-hidden-leftsidebar">
    <aside id="leftsidebar" class="sidebar unique-class" #leftsidebar>
        <!-- Sidebar content goes here -->
    </aside>
</div>
<div class="page-with-hidden-navbar">
    <nav #navbar class="navbar">
        <!-- Navbar content goes here -->
    </nav>
</div>
<section class="content" [style.margin-top.px]="-navbar.offsetHeight"
    style="margin-left: 0px; margin-bottom: 0; margin-right: 0;">
    <div class=" card">
        <div class="body">
            <div class="col col-lg-2 mb-1">
                <button mat-raised-button color="primary" [useExistingCss]="true" ngxPrint printSectionId="print"><i
                        class="fas fa-print msr-2"></i>Print</button>

                <span *ngIf="EventButton">
                    <button mat-stroked-button style="margin-left:10px; " color="primary"
                        (click)="functionHandle(EventButton.functionName , {})">
                        <mat-icon *ngIf="EventButton?.iconName">{{EventButton.iconName}}</mat-icon>
                        {{EventButton.name}}
                    </button>
                </span>

            </div>

            <div id="print">
                <table *ngIf="barcode6" class="mt-3">
                    <tr>
                        <td colspan="3" id="barcod" class="barcodeAlign">
                            <ngx-barcode6 [bc-format]="'CODE128'" [bc-height]="barcode6Details.height"
                                [bc-value]=this.barcode6Details.value [bc-display-value]="barcode6Details.displayvalue">
                            </ngx-barcode6>
                        </td>
                    </tr>
                </table>
                <div id="TemplateData" class="page-break">
                    <!-- view print code -->
                </div>
            </div>
        </div>
    </div>
</section>