<app-common-wrapper-webxpress [breadscrums]="breadScrums" [backPath]="backPath" (toggleChange)="onToggleChange($event)">
    <form [formGroup]="groupTableForm">
        <app-form-webxpress [form]="groupTableForm" [formData]="jsonControlGroupArray" [showSaveAndCancelButton]="true"
            (functionCallEmitter)="functionCallHandler($event)" (callFunction)="functionCallHandler($event)" [submit]="submit" [FormTitle]="'Customer Group Details'">
        </app-form-webxpress>
    </form>
</app-common-wrapper-webxpress>
