<div class="paddingdiv">
    <app-generic-table-v2 *ngIf="!tableLoad" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader"
        [tableData]="tableData" [metaData]="metaData" (selectAllClicked)="onSelectAllClicked($event)"
        [menuItems]="menuItems" (functionCallEmitter)="functionCallHandler($event)" [staticField]="staticField" [Link]="linkArray" [height]="height" [width]="width"
        [maxWidth]="maxWidth"[filterColumn]="filterColumn" [allColumnFilter]="allColumnFilter" [FormTitle]="'Job Detail'"[addAndEditPath]="addAndEditPath">
    </app-generic-table-v2>
</div>
