<app-common-wrapper-webxpress [breadscrums]="breadScrums" [backPath]="backPath">
    <form [formGroup]="beneficiaryHeaderForm">
        <app-form-webxpress [form]="beneficiaryHeaderForm" [formData]="jsonHeaderControl"
            [FormTitle]="'Beneficiary Master'" (functionCallEmitter)="functionCallHandler($event)"
            (callFunction)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
        </app-form-webxpress>
    </form>

    <app-generic-table-v2 *ngIf="tableLoad" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader"
        [FormTitle]="'List'" [tableData]="tableData" [menuItems]="menuItems" [staticField]="staticField"
        [Link]="linkArray" [menuItemFlag]="menuItemflag" (menuItemClicked)="handleMenuItemClick($event)"
        [addFlag]="addFlag" [FormTitle]="'Details'" [DisplayAddNewButton]=true (AddNewButtonEvent)="addDetails()">
    </app-generic-table-v2>

    <button type="button" [disabled]="!beneficiaryHeaderForm.valid" mat-raised-button color="primary" (click)="save()">
        <ng-container *ngIf="isUpdate; else saveButton">Modify</ng-container>
        <ng-template #saveButton>Save</ng-template>
    </button>&nbsp;&nbsp;
    <button type="button" mat-raised-button (click)="cancel()">
        Cancel
    </button>

</app-common-wrapper-webxpress>