<app-common-wrapper-webxpress [breadscrums]="breadScrums" [backPath]="backPath"
(toggleChange)="onToggleChange($event)">
  <form [formGroup]="locationTableForm">
    <app-form-webxpress [form]="locationTableForm" [formData]="jsonControlLocationArray"
      (functionCallEmitter)="functionCallHandler($event)" (callFunction)="functionCallHandler($event)"
      [showSaveAndCancelButton]="isSubmit" [FormTitle]="'Location Details'"
      [submit]="submit">
    </app-form-webxpress>
  </form>
</app-common-wrapper-webxpress>
