<app-common-wrapper-webxpress [breadscrums]="breadscrums" [backPath]="backPath">
  <!-- Eway Bill Verfication -->
  <div *ngIf="ewayBill">
    <form [formGroup]="model.invoiceTableForm">
      <app-form-webxpress [form]="model.invoiceTableForm" [formData]="jsonEwayBill"
        (functionCallEmitter)="functionCallHandler($event)" [submit]="model.buttons.ewayBillButton"
        [showSaveAndCancelButton]="true" (callFunction)="functionCallHandler($event)">
      </app-form-webxpress>
      <div class="paddingdiv">
        <a class="link-info pointer" (click)="flagEwayBill()">&rarr; Continue Without E-way Bill </a>
      </div>
    </form>
  </div>
  <!-- End -->
  <!--  Basic Detail-->
  <div *ngIf="!ewayBill">
    <form [formGroup]="model.consignmentTableForm">
      <app-form-webxpress [form]="model.consignmentTableForm" [FormTitle]="'Basic Detail'"
        [formData]="jsonControlArrayBasic" (functionCallEmitter)="functionCallHandler($event)"
        [showSaveAndCancelButton]="false" (callFunction)="functionCallHandler($event)">
      </app-form-webxpress>
    </form>
    <!-- End -->
    <!-- Consignor Detail -->
    <form [formGroup]="model.consignmentTableForm">
      <app-form-webxpress [form]="model.consignmentTableForm" [FormTitle]="'Consignor Detail'"
        [formData]="jsonControlArrayConsignor" (functionCallEmitter)="functionCallHandler($event)"
        [showSaveAndCancelButton]="false" (callFunction)="functionCallHandler($event)" [Expanded]=!expanded>
      </app-form-webxpress>
    </form>
    <!-- End -->
    <!-- Consignee Detail -->
    <form [formGroup]="model.consignmentTableForm">
      <app-form-webxpress [form]="model.consignmentTableForm" [FormTitle]="'Consignee Detail'"
        [formData]="jsonControlArrayConsignee" (functionCallEmitter)="functionCallHandler($event)"
        [showSaveAndCancelButton]="false" (callFunction)="functionCallHandler($event)">
      </app-form-webxpress>
    </form>
    <!-- ENd -->

    <!--  Container Detail-->
    <div *ngIf="contFlag">
      <form [formGroup]="model.containerTableForm">
        <app-form-webxpress [form]="model.containerTableForm" [FormTitle]="'Container Detail'"
          [formData]="jsonContainerDetail" (functionCallEmitter)="functionCallHandler($event)"
          [showSaveAndCancelButton]="false"
          [EventButton]="model.containerTableForm.valid==true ? model.buttons.containerTableEventButton : false"
          (callFunction)="functionCallHandler($event)">
        </app-form-webxpress>
      </form>
      <!-- <button matTooltip="Add Data Container" mat-stroked-button class="filter_btn"
        [disabled]="!containerTableForm.valid" style="margin-left: 80%;
      position: relative;
      top: -208px" (click)="addData()">
        <mat-icon>add</mat-icon>
        Add New Container
      </button> -->
      <!-- End -->
    </div>
    <div *ngIf="isLoad" class="d-flex justify-content-center align-items-center">
      <!-- Bootstrap loader -->
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <app-generic-table-v2 *ngIf="!tableLoad" [dynamicControls]="model.dynamicControls"
      [columnHeader]="model.columnHeader" [tableData]="model.tableData" (selectAllClicked)="onSelectAllClicked($event)"
      [menuItems]="model.menuItems" [staticField]="model.staticField" [Link]="linkArray" [height]="height"
      [width]="width" [maxWidth]="maxWidth" [addAndEditPath]="addAndEditPath" [menuItemFlag]="menuItemflag"
      (menuItemClicked)="handleMenuItemClick($event)" [addFlag]="addFlag" (addEmitter)="addPopUp($event)"
      [showHeader]=false>
    </app-generic-table-v2>
    <!--  Invoice Details-->
    <form [formGroup]="model.invoiceTableForm">
      <app-form-webxpress [form]="model.invoiceTableForm" [FormTitle]="'Invoice Details'" [formData]="jsonInvoiceDetail"
        (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
        (callFunction)="functionCallHandler($event)"
        [EventButton]="model.invoiceTableForm.valid==true ? model.buttons.addInvoiceEventButton : false">
      </app-form-webxpress>

      <app-generic-table-v2 *ngIf="!tableLoadIn" [dynamicControls]="model.dynamicControls"
        [columnHeader]="model.columnInvoice" [tableData]="model.invoiceData"
        (selectAllClicked)="onSelectAllClicked($event)" [menuItems]="model.menuItems"
        [staticField]="model.staticFieldInvoice" [Link]="linkArray" [height]="height" [width]="width"
        [maxWidth]="maxWidth" [addAndEditPath]="addAndEditPath" [menuItemFlag]="menuItemflag"
        (menuItemClicked)="handleMenuItemClick($event)" [addFlag]="addFlag" (addEmitter)="addPopUp($event)"
        [showHeader]=false [FormTitle]="'Invoice Details'" [TitleBoxData]="this.InvoiceDetailsList">
      </app-generic-table-v2>
    </form>

    <div *ngIf="loadIn" class="d-flex justify-content-center align-items-center">
      <!-- Bootstrap loader -->
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <!-- End -->
    <!-- Non Freight Detail  -->
    <div *ngIf="NonFreightLoaded">


      <form [formGroup]="model.NonFreightTableForm">
        <app-form-webxpress [form]="model.NonFreightTableForm" [FormTitle]="'Non Freight Details'"
          [formData]="NonFreightjsonControlArray" (functionCallEmitter)="functionCallHandler($event)"
          [showSaveAndCancelButton]="false" (callFunction)="functionCallHandler($event)">
        </app-form-webxpress>
      </form>
    </div>
    <!--Freight Detail  -->
    <form [formGroup]="model.FreightTableForm">
      <app-form-webxpress [form]="model.FreightTableForm" [FormTitle]="'Freight Details'" [formData]="jsonControlArray"
        (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
        (callFunction)="functionCallHandler($event)">
      </app-form-webxpress>
    </form>
    <div class="row paddingdiv">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
        <div class="example-button-row d-flex justify-content-start">
          <!-- <div *ngIf="isSubmit">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </div> -->
          <!-- [disabled]="!model.consignmentTableForm.valid || !model.FreightTableForm.valid || isSubmit" -->
          <button class="msr-3" mat-raised-button color="primary"
            [disabled]="!model.consignmentTableForm.valid || !model.FreightTableForm.valid || isSubmit"
            (click)="save()">{{isUpdate?"Edit Docket":"Generate Docket"}} </button>
          <button class="msr-3" mat-raised-button color="primary">Back</button>
          <button class="msr-3" [disabled]="!this.model.consignmentTableForm.value?.billingParty ||
            !this.model.consignmentTableForm.value?.docketDate ||
            !this.model.consignmentTableForm.value?.toCity ||
            !this.model.consignmentTableForm.value?.payType ||
            !this.model.consignmentTableForm.value?.transMode" (click)="InvockedContract()" mat-raised-button
            color="primary">Invoked</button>
        </div>
      </div>
    </div>
    <!-- ENd -->
  </div>
  <!-- ENd -->
</app-common-wrapper-webxpress>