<app-common-wrapper-webxpress [breadscrums]="breadscrums">
    <form [formGroup]="ConsignmentQueryForm">
        <app-form-webxpress [form]="ConsignmentQueryForm" [formData]="jsonControlConsignmentQueryArray"
           [showSaveAndCancelButton]="true" [FormTitle]="'Query Page'"
            (callFunction)="functionCallHandler($event)" [submit]="'Get Tracking'"
           (functionCallEmitter)="functionCallHandler($event)">
        </app-form-webxpress>
     </form>
</app-common-wrapper-webxpress>