<section class="content">
    <div class="container-fluid">
        <div>
            <div class="block-header" *ngFor="let breadscrum of breadscrums">
                <!-- breadcrumb -->
                <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
                </app-breadcrumb>
            </div>
            <div>
                <div class="row">
                    <form class="register-form m-4" [formGroup]="formGrop">
                    <ng-container *ngFor="let item of selectItems">
                        <div [class]="divcol">
                            <mat-form-field class="example-full-width" appearance="outline"  *ngIf="item.type=='text'">
                                <mat-label>{{ item.label }}</mat-label>
                                <input matInput type="item.type"
                                (change)="callActionFunction(item.ActionFunction,$event)"
                                [formControlName]="item.Name" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div [class]="divcol">
                            <mat-form-field class="example-full-width" appearance="outline"  *ngIf="item.type=='autodropdown'">
                                <mat-label>{{ item.label }}</mat-label>
                                <input matInput [formControlName]="item.Name"
                                (input)="callActionFunction(item.Search)"
                                autocomplete="off" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete"
                                [displayWith]="displaycommonFn"
                                (optionSelected)="callActionFunction(item.ActionFunction,$event)">
                                <mat-option *ngFor="let option of item.filteredcommon | async"
                                    [value]="option">
                                    {{option.Value+":"+option.Name}}
                                </mat-option>
                            </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </form>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="example-button-row d-flex">
                            <button class="msr-3" mat-raised-button color="primary" (click)="Showlist()">Show Docket
                                List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="this.index==1">
            <div>
                <app-grid-list class="w-100" *ngIf="!tableload" [columnHeader]="columnHeader" [tableData]="csv"
                    [addAndEditPath]="addAndEditPath" [uploadComponent]="uploadComponent" [csvHeaders]="headerForCsv"
                    [csvFileName]="csvFileName" [csvData]="csv" (onFlagChange)="IsActiveFuntion($event)"
                    [metaData]="METADATA"[dropDownValue]='formGrop.value?.ruteCode' (onChecked)="onFlagChange($event)"></app-grid-list>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
                    <div class="example-button-row d-flex justify-content-end">
                      <button class="msr-3" mat-raised-button color="primary" (click)="generateLoadingSheet()">Generate
                            LoadingSheet</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>