<app-common-wrapper-webxpress [breadscrums]="breadScrums" [backPath]="backPath">
   <form [formGroup]="AccountForm">
      <app-form-webxpress [form]="AccountForm" [formData]="jsonControlAccountArray" [showSaveAndCancelButton]="true"
         [FormTitle]="FormTitle" [MatButton]="EventButton"  [className]="'col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2'"
         (callFunction)="functionCallHandler($event)" (functionCallEmitter)="functionCallHandler($event)">
      </app-form-webxpress>
   </form>
</app-common-wrapper-webxpress>
