<app-common-wrapper-webxpress [breadscrums]="breadScrums" [loadTable]="tableLoad">
    <generic-table-webxpress *ngIf="!tableLoad" [columnHeader]="columnHeader" [tableData]="dateWiseData"
        [headercode]="dialogData" [height]="height" [width]="width" (onFlagChange)="IsActive($event)"
        [viewComponent]="viewComponent" [dynamicControls]="dynamicControls" [toggleArray]="toggleArray"
        [menuItems]="menuItems" [Link]="linkArray" (dialogClosed)="getHolidayDetails()"
        (onFlagChange)="IsActiveFuntion($event)">
    </generic-table-webxpress>
</app-common-wrapper-webxpress>
