<!-- <app-common-wrapper-webxpress [breadscrums]="breadscrums">
    <form [formGroup]="DriverTableForm">
        <generic-accordion-webxpress [AccordionForm]="DriverTableForm" [accordionGroup]="accordionData"
            (functionCallEmitter)="functionCallHandler($event)" (callFunction)="functionCallHandler($event)">
        </generic-accordion-webxpress>
    </form>
</app-common-wrapper-webxpress> -->

<app-common-wrapper-webxpress [breadscrums]="breadScrums" [backPath]="backPath" (toggleChange)="onToggleChange($event)">
  <form [formGroup]="DriverTableForm">
    <app-form-webxpress [form]="DriverTableForm" [FormTitle]="'Driver Details'" [formData]="jsonControlDriverArray"
      (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="true"
      (callFunction)="functionCallHandler($event)" [submit]="submit">
    </app-form-webxpress>
  </form>
</app-common-wrapper-webxpress>