<!-- Your MatDialog content -->
<mat-dialog-content>
    <app-generic-table-v2
      [dynamicControls]="dynamicControls"
      [columnHeader]="headerColumn"
      [tableData]="tableData"
      [metaData]="metaData"
      (selectAllClicked)="onSelectAllClicked($event)"
      [menuItems]="menuItem"
      [staticField]="staticField">
    </app-generic-table-v2>
  </mat-dialog-content>
  
  <!-- Close button -->
  <mat-dialog-actions>
    <button mat-button (click)="onCloseButtonClick()">Close</button>
  </mat-dialog-actions>