<app-common-wrapper-webxpress [breadscrums]="breadScrums">
    <!-- <generic-table-webxpress *ngIf="!tableLoad" [columnHeader]="columnHeader" [tableData]="csv"
        [csvFileName]="csvFileName" [addAndEditPath]="addAndEditPath" [metaData]="METADATA" [Link]="linkArray"
          [menuItems]="menuItems" (menuItemClicked)="handleMenuItemClick($event)"
        [menuItemFlag]="menuItemflag" [dynamicControls]="dynamicControls" (onFlagChange)="IsActiveFuntion($event)"
        [TableStyle]="TableStyle">
    </generic-table-webxpress> -->
    <app-generic-table-v2 *ngIf="!tableLoad" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader"
      [tableData]="csv" [metaData]="metaData" (selectAllClicked)="onSelectAllClicked($event)" (functionCallEmitter)="functionCallHandler($event)"
      [menuItems]="menuItems" [staticField]="staticField"  [Link]="linkArray" [height]="height" [width]="width"
      [maxWidth]="maxWidth" (onFlagChange)="IsActiveFuntion($event)" [addAndEditPath]="addAndEditPath" [menuItemFlag]="menuItemflag">
    </app-generic-table-v2>
</app-common-wrapper-webxpress>
