<style>
  /* .content {
    position: relative;
    overflow: hidden;
  } */

  .breadcrumbs {
    /* Set the background color as needed */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .scrollable-content {
    max-height: 78vh;
    /* Set the maximum height to the viewport height */
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0px;
    /* Add any other desired styles for this section */
  }
</style>

<section class="content">
  <div class="container-fluid">
    <div class="breadcrumbs" style="margin-bottom: 0px !important;">
      <div *ngIf="breadscrums !== undefined">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
          <app-breadcrumb [backPath]="backPath" [title]="breadscrum.title" [items]="breadscrum.items"
            [active_item]="breadscrum.active" [generatecontrol]="breadscrum.generatecontrol"
            (toggleChange)="onToggleChange($event)" [toggle]="breadscrum.toggle">
          </app-breadcrumb>
        </div>
      </div>
    </div>
    <ng-container *ngIf="loadTable !== undefined">
      <div *ngIf="loadTable == true" class="tbl-spinner">
        <mat-progress-spinner color="primary" [diameter]="100" mode="indeterminate">
        </mat-progress-spinner>
      </div>
    </ng-container>
    <div class="scrollable-content">
      <ng-content></ng-content>
    </div>
  </div>
</section>