<mat-dialog-content>
    <!-- Title -->
    <h2>THC Update</h2>
    <div class="paddingdiv">
        <form [formGroup]="thcTableForm">
            <app-form-webxpress [form]="thcTableForm" [formData]="jsonControlArray" [uploadedFiles]="uploadedFiles"
                (callFunction)="functionCaller($event)" (functionCallEmitter)="functionCaller($event)"
                [showSaveAndCancelButton]="false">
            </app-form-webxpress>
        </form>
    </div>
          <div class="example-button-row d-flex justify-content-end">
            <button class="msr-3" mat-raised-button color="primary" *ngIf="!tableLoad"
              (click)="save()" [disabled]="!thcTableForm.valid">Save</button>
            <button class="msr-3" mat-raised-button color="primary"   (click)="cancel()">Back</button>
          </div>
</mat-dialog-content>
