<app-common-wrapper-webxpress [breadscrums]="breadscrums">

    <form [formGroup]="deliveryMrTableForm">
        <app-form-webxpress [form]="deliveryMrTableForm" [FormTitle]="'Delivery MR Generation '"
            [formData]="jsonControlDeliveryMrGenArray" (functionCallEmitter)="functionCallHandler($event)"
            (callFunction)="functionCallHandler($event)" [showSaveAndCancelButton]="true" submit='Submit'>
        </app-form-webxpress>
    </form>
    <div *ngIf="tableload" class="d-flex justify-content-center align-items-center">
        <!-- Bootstrap loader -->
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <app-generic-table-v2 *ngIf="!tableload" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader"
        [FormTitle]="'Delivery MR Generation List'" [tableData]="tableData" [menuItems]="menuItems"
        [staticField]="staticField" [Link]="linkArray" [menuItemFlag]="menuItemflag" [TitleBoxData]="TotalAmountList"
        (menuItemClicked)="handleMenuItemClick($event)" [addFlag]="addFlag">
    </app-generic-table-v2>

    <form [formGroup]="billingForm">
        <app-form-webxpress [form]="billingForm" [FormTitle]="'Bill Summary'" [formData]="jsonControlBillingArray"
            (functionCallEmitter)="functionCallHandler($event)" [className]="'col-xl-3 col-lg-3 col-md-3 col-sm-3 '"
            (callFunction)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
        </app-form-webxpress>
    </form>
    <form [formGroup]="PaymentSummaryFilterForm">
        <app-form-webxpress [form]="PaymentSummaryFilterForm" [FormTitle]="'Payment Summary'"
            [formData]="jsonControlPaymentArray" (functionCallEmitter)="functionCallHandler($event)"
            [className]="'col-xl-3 col-lg-3 col-md-3 col-sm-3 '" (callFunction)="functionCallHandler($event)"
            [showSaveAndCancelButton]="false">
        </app-form-webxpress>
    </form>



    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
            <div class="example-button-row  d-flex justify-content-end">
                <button [disabled]="isSubmitDisabled()" mat-button mat-raised-button color="primary"
                    (click)="GenerateVoucher()">
                    Submit
                </button>
            </div>
        </div>
    </div>
</app-common-wrapper-webxpress>