<app-common-wrapper-webxpress [breadscrums]="breadScrums" [backPath]="backPath" (toggleChange)="onToggleChange($event)">
    <form [formGroup]="routeMasterLocationForm">
        <app-form-webxpress [form]="routeMasterLocationForm" [formData]="jsonControlArray"
            (callFunction)="functionCallHandler($event)" (functionCallEmitter)="functionCallHandler($event)"
            [showSaveAndCancelButton]="false">
        </app-form-webxpress>
    </form>
    <!-- <div
        style="width: 100%; background-color: rgba(39, 39, 39, 0.1); color: black; text-align: center; font-weight: 600; ">
        <h3 style="font-size: 1.5rem; padding: 5px 0px;">Details</h3>
    </div> -->
    <!-- <hr> -->
    <form [formGroup]="RouteDetailTableForm">
        <app-form-webxpress [form]="RouteDetailTableForm" [formData]="jsonControlRouteDetailArray"
            [showSaveAndCancelButton]="false" (callFunction)="functionCallHandler($event)" [FormTitle]="'Details'"
            (functionCallEmitter)="functionCallHandler($event)">
        </app-form-webxpress>
    </form>
    <button matTooltip="Add Data" mat-stroked-button class="filter_btn" style="margin-left: 90%; margin-bottom: 0.5%;"
        [disabled]="!RouteDetailTableForm.valid" (click)="AddRowData()">
        <mat-icon>add</mat-icon>
        Add New
    </button>
    <div *ngIf="!tableLoad" class="d-flex justify-content-center align-items-center">
        <!-- Bootstrap loader -->
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <app-generic-table-v2 *ngIf="tableLoad" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader"
        [tableData]="tableData" [metaData]="metaData" [menuItems]="menuItems" [staticField]="staticField"
        [Link]="linkArray" [height]="height" [width]="width" [maxWidth]="maxWidth"
        (menuItemClicked)="handleMenuItemClick($event)" [addAndEditPath]="addAndEditPath"
        [menuItemFlag]="menuItemflag" [showHeader]="false">
    </app-generic-table-v2>


    <button type="button" [disabled]="!routeMasterLocationForm.valid" mat-raised-button color="primary"
        (click)="save()">
        <ng-container *ngIf="isUpdate; else saveButton">Modify</ng-container>
        <ng-template #saveButton>Save</ng-template>
    </button>&nbsp;&nbsp;
    <button type="button" mat-raised-button (click)="cancel()">
        Cancel
    </button>

</app-common-wrapper-webxpress>