<div class="paddingdiv">
    <div *ngIf="tableLoad" class="d-flex justify-content-center align-items-center">
        <!-- Bootstrap loader -->
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
        <app-generic-card-webxpress [boxData]="boxData"></app-generic-card-webxpress>
        <app-generic-table-v2 *ngIf="!tableLoad" [dynamicControls]="dynamicControls" [columnHeader]="definition.columnHeader"
            [tableData]="tableData" [metaData]="metaData" (selectAllClicked)="onSelectAllClicked($event)"
            [menuItems]="definition.menuItems" [staticField]="definition.staticField" [Link]="linkArray" [height]="height" [width]="width"
            [maxWidth]="maxWidth" (functionCallEmitter)="functionCallHandler($event)" (menuItemClicked)="handleMenuItemClick($event)" [addAndEditPath]="addAndEditPath"
            [menuItemFlag]="menuItemflag" [uploadComponent]= true  (uploadEvent)="upload()" [filterColumn]="filterColumn" [allColumnFilter]="allColumnFilter">
        </app-generic-table-v2>
</div>
