<app-common-wrapper-webxpress [breadscrums]="breadscrums">
    <form [formGroup]="vehicleLoadingTableForm">
        <app-form-webxpress [form]="vehicleLoadingTableForm"  [FormTitle]="'Vehicle Loading'" [formData]="jsonControlArray"
            (functionCallEmitter)="functionCallHandler($event)" [showSaveAndCancelButton]="false"
            (callFunction)="functionCallHandler($event)">
        </app-form-webxpress>
    </form>
    <app-generic-table-v2 *ngIf="!tableload" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader"
        [tableData]="tableData" [metaData]="metaData" (functionCallEmitter)="functionCallHandler($event)" (selectAllClicked)="onSelectAllClicked($event)"
        [menuItems]="menuItems" [staticField]="staticField" [Link]="linkArray" [boxData]="boxData" [height]="height"
        [width]="width"  [maxWidth]="maxWidth">
    </app-generic-table-v2>
    <div class="row" *ngIf="!tableload">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
            <div class="example-button-row d-flex justify-content-end">
                <button class="msr-3" mat-raised-button color="primary" (click)="goBack('Arrivals')">Close</button>
            </div>
        </div>
    </div>
</app-common-wrapper-webxpress>