<style>
    .clickable-grid {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 120px;
    }

    .clickable-grid:hover {
        background-color: #f0f0f0;
        /* Add a hover effect if desired */
    }
</style>
<div>
    <h4 class="m-b-10">{{boxData?.Title}}</h4>
    <div *ngIf="boxData?.Items" class="row clearfix dashboardcard">
        <div class="col-lg-3 col-md-3 col-sm-4 clickable-grid" *ngFor="let box of boxData?.Items" [style]="style"
            [matMenuTriggerFor]="box.Menu ? menu : null" (click)="handleItemClick(box)">
            <div [class]="box.class" style="height:90%;width:90%">
                <div class="info-box7-block" style="text-align:center;">
                    <h5 class="m-b-10 m-t-20 white">{{box.title}}</h5>
                    <h2 *ngIf="box?.count" class="m-b-10 white">{{box?.count}}</h2>
                </div>
            </div>
        </div>
        <mat-menu #menu="matMenu" xPosition="before" yPosition="above">

            <ng-container *ngFor="let item of boxData?.Items">
                <ng-container *ngIf="item.Menu">
                    <ng-container *ngFor="let menu of item.Menu">
                        <button mat-menu-item [matMenuTriggerFor]="subMenu" (click)="handleItemClick(menu)">
                            {{menu.title}}
                        </button>
                        <mat-menu #subMenu="matMenu">
                            <ng-container *ngFor="let subItem of menu.SubMenu">
                                <button mat-menu-item [matMenuTriggerFor]="innerMenu"
                                    (click)="handleItemClick(subItem)">
                                    {{subItem.title}}
                                </button>
                                <mat-menu #innerMenu="matMenu">
                                    <button mat-menu-item *ngFor="let innerItem of subItem.InnerMenu"
                                        (click)="handleItemClick(innerItem)">
                                        {{innerItem.title}}
                                    </button>
                                </mat-menu>
                            </ng-container>
                        </mat-menu>
                    </ng-container>
                </ng-container>
            </ng-container>
        </mat-menu>
    </div>
</div>