<div>
  <div>
    <button mat-raised-button color="primary" printSectionId="print" [useExistingCss]="true" ngxPrint>
      <i class="fas fa-print msr-2"></i>Print</button>
  </div>
  <div id="print"
    style="width: 900px; margin: 30px auto; box-sizing: border-box; border: 2px solid gainsboro; padding: 10px; font-size: 12px;">
    <div style="display: flex;">
      <div class="title" style="width: 75%; border: 1px solid gainsboro;">
        <div class="title_header" style="text-align: center; border-bottom: 2px solid gainsboro;">
          <h1 style="font-weight: 700;">WESTERN CARRIERS(INDIA)LIMITED</h1>
        </div>
        <div style="padding: 5px; font-weight: 700;">
          Address:-
          <div style="padding: 5px; font-weight: 500;">
            67/28, STRAND ROAD, KOLKATA-700006, PHONE NO:2259 5634/5635/0897, FAX: (033) 2259 4979
            R.O: 206, CENTRAL PLAZA ,2/6, SARAT BOSE ROAD, KOLKATA-700020,PH: (033)2485 8519/20 FAX: (033) 2485
            8525
          </div>
        </div>
      </div>
      <div style="width: 25%; display: flex; flex-direction: column; justify-content: space-between;">
        <img src='/assets/images/globe.png' width="100%" />
      </div>
    </div>
    <div style="margin: 10px 0px;">
      <table border="1" style="width: 100%;" class="font-size-12">
        <tr style="width: 100%;">
          <td rowspan="2" colspan="6" class="borde-1" style="width: 30%;">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 17px; text-align: center;">
              JOB VIEW 
            </p>
          </td>
        </tr>
      </table>
    </div>
    <div style="margin: 10px 0px;">
      <table border="1" style="width: 100%;" class="font-size-12">
        <tr style="width: 100%;">
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Job No
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;">JOB-135468</td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Job Date
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;">31-Oct-2023</td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Job Type
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;">Vendor</td>
        </tr>
        <tr style="width: 100%;">
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Billing Party
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;">Westen</td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              PORT of Loading
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;">Andla</td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Destination Country
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;">India</td>
        </tr>
        <tr style="width: 100%;">
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Port of Discharge
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;"></td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              No of Pkts
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;">1500</td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Weight
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;">4000 Kg</td>
        </tr>
        <tr style="width: 100%;">
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Transported by
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;">Road</td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Vendor Name
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;">Manan</td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Transport Mode
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;">Road</td>
        </tr>
        <tr style="width: 100%;">
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              PO Number
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;">PO-153487</td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Vehicle Size
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;">6-MT</td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Export Type
            </p>
          </td>
          <td class="px-1" style="border-bottom: 1px solid black;"></td>
        </tr>
      </table>
    </div>
    <div style="margin: 10px 0px;">
      <table border="1" style="width: 100%;" class="font-size-12">
        <tr style="width: 100%;">
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Invoice No
            </p>
          </td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Invoice Date
            </p>
          </td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              SB No
            </p>
          </td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              SB Date
            </p>
          </td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              POD
            </p>
          </td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              COD
            </p>
          </td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Container Type
            </p>
          </td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Container Number
            </p>
          </td>
        </tr>
        <tr style="width: 100%;">
          <td class="px-1" style="border: 1px solid black;">CNMUMBAMB2324000001</td>
          <td class="px-1" style="border: 1px solid black;">31-Oct-2023</td>
          <td class="px-1" style="border: 1px solid black;">2</td>
          <td class="px-1" style="border: 1px solid black;">9000 Kgs</td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
        </tr>
        <tr style="width: 100%;">
          <td class="px-1" style="border: 1px solid black;">CNMUMBAMB2324000002 </td>
          <td class="px-1" style="border: 1px solid black;">31-Oct-2023</td>
          <td class="px-1" style="border: 1px solid black;">2</td>
          <td class="px-1" style="border: 1px solid black;">9000 Kgs</td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
        </tr>
        <tr style="width: 100%;">
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
        </tr>
        <tr style="width: 100%;">
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
        </tr>
        <tr style="width: 100%;">
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Sum
            </p>
          </td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              4
            </p>
          </td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              18000 Kgs
            </p>
          </td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
        </tr>
      </table>
    </div>
    <div style="margin: 10px 0px;">
      <table border="1" style="width: 100%;" class="font-size-12">
        <tr style="width: 100%;">
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Invoice No
            </p>
          </td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              Invoice Date
            </p>
          </td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              SB No
            </p>
          </td>
          <td class="borde-1">
            <p class="m-0 p-0" style="font-weight: bold; font-size: 14px; text-align: center;">
              SB Date
            </p>
          </td>
        </tr>
        <tr style="width: 100%;">
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
        </tr>
        <tr style="width: 100%;">
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
        </tr>
        <tr style="width: 100%;">
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
        </tr>
        <tr style="width: 100%;">
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
        </tr>
        <tr style="width: 100%;">
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
          <td class="px-1" style="border: 1px solid black;"></td>
        </tr>
      </table>
    </div>
    <div style="margin: 10px 0px;">
      <table border="1" style="width: 100%;" class="font-size-12">
        <tr style="width: 100%;">
          <td class="borde-1">
            <p class="m-3 p-3"  style="font-weight: bold; font-size: 14px; text-align: center ">
              Prepared By
            </p>
          </td>
          <td class="borde-1">
            <p class="m-3 p-3"  style="font-weight: bold; font-size: 14px; text-align: center;">
              Prepared At
            </p>
          </td>
          <td class="borde-1">
            <p class="m-3 p-3"  style="font-weight: bold; font-size: 14px; text-align: center;">
              Sign. Of Branch Manager
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
<style>
  .borde-1 {
    border: 1px solid black;
  }

  td {
    margin: 0px;
    padding: 0px;
    height: 25px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  div {
    margin: 0;
    padding: 0;
  }

  .width-50 td {
    height: 50px;
  }

  .width-40 td {
    height: 40px;
  }

  .width-100 td {
    height: 100px;
  }

  .font-size-12 td {
    font-size: 12px;
  }
</style>
