<section class="content">
    <div class="container-fluid">
        <div>
            <div class="block-header" *ngFor="let breadscrum of breadscrums">
                <!-- breadcrumb -->
                <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
                </app-breadcrumb>
            </div>
            <div *ngIf="tableload==true" class="tbl-spinner">
                <mat-progress-spinner color="primary" [diameter]="100" mode="indeterminate">
                </mat-progress-spinner>
            </div>
        </div>
        <app-generic-card-webxpress [boxData]="BoxData"></app-generic-card-webxpress>
        <div >
            <div>
                <app-grid-list class="w-100" *ngIf="!tableload" [columnHeader]="columnHeader" [tableData]="csv"
                    [addAndEditPath]="addAndEditPath" [uploadComponent]="uploadComponent" [csvHeaders]="headerForCsv"
                    [csvFileName]="csvFileName" [csvData]="csv" (onFlagChange)="IsActiveFuntion($event)" (onChecked)="onFlagChange($event)" 
                    [metaData]="METADATA"></app-grid-list>
            </div>
            <div class="row"  *ngIf="!tableload">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 mt-2">
                    <div class="example-button-row d-flex justify-content-end">
                        <button class="msr-3" mat-raised-button color="primary" (click)="loadingSheetGenerate()">Generate
                            LoadingSheet</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>