<section class="content" style="overflow-x: hidden">
  <div class="container-fluid">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <!-- <div>
      <div>
        <form [formGroup]="docketForm">
          <app-form-webxpress [form]="docketForm" [formData]="jsonControlPrqArray" [showSaveAndCancelButton]="false"
            (callFunction)="functionCallHandler($event)" [FieldStyle]="'width: 75%; margin:auto;'"
            (functionCallEmitter)="functionCallHandler($event)">
          </app-form-webxpress>
        </form>
      </div>
    </div> -->
    <div class="container">
      <div class="row">
        <div style="margin-top: 50px; margin-left: 15px;">
          <div class="row" style="margin-bottom: 30px;">

            <div class="col-md-4 col-xl-3 custom-icon icon-pedding"*ngIf="docket">
              <div class="pointer card-shape" style="background-color: rgb(153, 19, 19);">
                <div class="demo-google-material-icon card-block iconcolor" (click)="docketBooking('FullTruckOperations')">
                  <h6 class="m-b-20"></h6>
                  <h2 class="text-right">
                    <i class="material-icons card-icon">track_changes</i>
                    <span class="icon-name"></span>
                  </h2>
                </div>
              </div>
              <p class="fontbold"><span>Full Truck Operations</span></p>
            </div>
            <div class="col-md-4 col-xl-3 custom-icon icon-pedding" *ngIf="docket">
              <div class=" pointer card-shape" style="background-color: rgb(106,34,149,255);">
                <div class="card-block iconcolor" (click)="docketBooking('ExpressMovement')">
                  <h6 class="m-b-20"></h6>
                  <h2 class="text-right">
                    <i class="fa fa-shipping-fast card-icon"></i><span></span>
                  </h2>
                </div>
              </div>
              <p class="fontbold"><span>Express Movement</span></p>
            </div>
            <div class="col-md-4 col-xl-3 custom-icon icon-pedding" *ngIf="docket">
              <div class=" pointer card-shape" style="background-color: rgb(230, 168, 56);">
                <div class="card-block iconcolor" (click)="docketBooking('PlanningandDistribution')">
                  <h6 class="m-b-20"></h6>
                  <h2 class="text-right">
                    <i class="fa fas fa-clipboard-list card-icon"></i><span></span>
                  </h2>
                </div>
              </div>
              <p class="fontbold"><span>Planning and Distribution</span></p>
            </div>
            <div class="col-md-4 col-xl-3 custom-icon icon-pedding" *ngIf="docket">
              <div class="pointer card-shape" style="background-color: rgb(182,24,101,255);">
                <div class="card-block iconcolor" (click)="docketBooking('EXIMTransportation')">
                  <h6 class="m-b-20"></h6>
                  <h2 class="text-right">
                    <i class="fa fas fa-ship card-icon"></i><span></span>
                  </h2>
                </div>
              </div>
              <p class="fontbold"><span>EXIM Transportation</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xl-3 custom-icon" *ngIf="docket">
              <div class="pointer card-shape" style="background-color: rgb(0,189,235,255);">
                <div class="card-block iconcolor" (click)="docketBooking('FullTruckOperations')">
                  <h6 class="m-b-20"></h6>
                  <h2 class="text-right">
                    <i class="fa fa-receipt card-icon"></i><span></span>
                  </h2>
                </div>
              </div>
              <p class="fontbold" >
                <span>Customer Contracts and Billing</span>
              </p>
            </div>
            <div class="col-md-4 col-xl-3 custom-icon"  *ngIf="docket">
              <div class="pointer card-shape" style="background-color: rgb(0,172,95,255);">
                <div class="card-block iconcolor" (click)="docketBooking('VendorContracts&Payments')">
                  <h6 class="m-b-20"></h6>
                  <h2 class="text-center">
                    <i class="fa fa-file-invoice card-icon"></i>
                  </h2>
                </div>
              </div>
              <p class="fontbold" >
                <span>Vendor Contracts & Payments</span>
              </p>
            </div>
            <div class="col-md-4 col-xl-3 custom-icon"  *ngIf="docket">
              <div class="bg-orange pointer card-shape">
                <div class="card-block" (click)="docketBooking('FinancialAccounts')">
                  <h6 class="m-b-20"></h6>
                  <h2 class="text-center">
                    <i class="fa fa-server card-icon"></i>
                  </h2>
                </div>
              </div>
              <p class="fontbold"><span>Financial Accounts</span></p>
            </div>
            <div class="col-md-4 col-xl-3 custom-icon">
              <div class="pointer card-shape" style="background-color: rgb(34,34,34,255);">
                <div class="card-block iconcolor" (click)="docketBooking('AdminPortal')">
                  <h6 class="m-b-20"></h6>
                  <h2 class="text-right">
                    <i class="fas fa-users card-icon"></i><span></span>
                  </h2>
                </div>
              </div>
              <p class="fontbold" >
                <span>Admin Portal</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
