<app-common-wrapper-webxpress [breadscrums]="breadScrums" [backPath]="backPath">
  <form [formGroup]="invoiceTableForm">
    <app-form-webxpress [form]="invoiceTableForm" [FormTitle]="'Customer and GST Details'" [formData]="jsonControlArray"
      (functionCallEmitter)="functionCallHandler($event)" (callFunction)="functionCallHandler($event)"
      [showSaveAndCancelButton]="false">
    </app-form-webxpress>
  </form>
  <app-generic-table-v2 *ngIf="!tableLoad" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader"
    [tableData]="tableData" [metaData]="metaData" (selectAllClicked)="getCalucationDetails($event)"
    [menuItems]="menuItems" [staticField]="staticField" (onFlagChange)="getCalucationDetails($event)" [Link]="linkArray"
    [height]="height" [width]="width" [maxWidth]="maxWidth" [addAndEditPath]="addAndEditPath"
    (dialogClosed)="dialogClosed($event)" [boxData]="this.KPICountData">
  </app-generic-table-v2>
  <!-- <app-generic-table-v2 *ngIf="!tableLoad" [dynamicControls]="dynamicControls" [columnHeader]="columnHeader1"
    [tableData]="tableData1" [metaData]="metaData" (selectAllClicked)="onSelectAllClicked($event)"
    [menuItems]="menuItems" [staticField]="staticField1" [Link]="linkArray" [height]="height" [width]="width"
    [maxWidth]="maxWidth" [addAndEditPath]="addAndEditPath">
  </app-generic-table-v2> -->
  <form [formGroup]="invoiceSummaryTableForm">
    <app-form-webxpress [form]="invoiceSummaryTableForm" [FormTitle]="'Invoice Summary'"
      [formData]="invoiceSummaryJsonArray" (functionCallEmitter)="functionCallHandler($event)"
      (callFunction)="functionCallHandler($event)" [showSaveAndCancelButton]="false">
    </app-form-webxpress>
  </form>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
      <div class="example-button-row  d-flex justify-content-end">
        <button class="msr-3" mat-raised-button color="primary"
          [disabled]="!this.invoiceSummaryTableForm.controls['shipmentCount']?.value" (click)="save()">Save</button>
        <button mat-button (click)="cancel('Billing​')">Back</button>
      </div>

    </div>
  </div>
</app-common-wrapper-webxpress>