<app-common-wrapper-webxpress [breadscrums]="breadScrums">
  <div class="row">
    <div class="col-12" style="padding: 0px;">
      <div class="card" style="margin-bottom: 6px;margin-right: 3px;margin-left: 3px;padding: 13px 0px;">
        <div style="display: flex; align-items: center; justify-content: center">
          <div style="width: 98%">
            <table style="width: 100%">
              <tr style="height: 40px">
                <td colspan="8" style="justify-content: center; align-items: center">
                  <h5 style="
                text-align: center;
                margin: 0px;
                padding: 0px;
                font-weight: 600;
              ">
                    Consingment Note Summary Tracking
                  </h5>
                </td>
              </tr>
              <tr style="height: 20px">
                <th style="text-align: center; width: 16%">C Note No</th>
                <th style="text-align: center; width: 12%">C Note Date</th>
                <th style="text-align: center; width: 12%">Origin</th>
                <th style="text-align: center; width: 12%">Destination</th>
                <th style="text-align: center; width: 12%">Curr. Loc.</th>
                <th style="text-align: center; width: 12%">Next Loc.</th>
                <th style="text-align: center; width: 12%">From Loc.</th>
                <th style="text-align: center; width: 12%">To Loc.</th>
              </tr>
              <tr style="height: 20px">
                <td style="text-align: center">CNMUMBDTD2425000010</td>
                <td style="text-align: center">25-01-2024</td>
                <td style="text-align: center">MUMB</td>
                <td style="text-align: center">BRDB</td>
                <td style="text-align: center">MUMB</td>
                <td style="text-align: center"></td>
                <td style="text-align: center">MUMBAI</td>
                <td style="text-align: center">BARODA</td>
              </tr>
              <tr style="height: 30px">
                <td colspan="8" style="margin: auto"></td>
              </tr>
              <tr style="height: 30px">
                <td colspan="2" style="margin: auto; padding: 0px 8px;">C Note Status :-</td>
                <td colspan="6" style="margin: auto; padding: 0px 8px;">Stock available For LS/MF @ MUMB</td>
              </tr>
              <tr style="height: 30px">
                <td colspan="8" style="margin: auto"></td>
              </tr>
              <tr style="height: 40px">
                <td colspan="8" style="justify-content: center; align-items: center">
                  <h5 style="
                text-align: center;
                margin: 0px;
                padding: 0px;
                font-weight: 600;
              ">
                    Booking Details
                  </h5>
                </td>
              </tr>
              <tr style="height: 20px">
                <th colspan="2" style="text-align: center">
                  Service Type | Pay Basis | Product
                </th>
                <th colspan="2" style="text-align: center">
                  Pieces | Charge Wt. | Act. Wt.
                </th>
                <th colspan="2" style="text-align: center">Consignor</th>
                <th colspan="2" style="text-align: center">Consignee</th>
              </tr>
              <tr style="height: 20px">
                <td colspan="2" style="text-align: center">FTL | TBB | ROAD</td>
                <td colspan="2" style="text-align: center">5 | 9000.00 | 9000.00</td>
                <td colspan="2" style="text-align: center">
                  C0050003:CATERPILLAR INDIA PVT LIMITED
                </td>
                <td colspan="2" style="text-align: center">
                  C0040001:BHARAT ELECTRONICS LTD
                </td>
              </tr>
              <tr style="height: 30px">
                <td colspan="8" style="margin: auto"></td>
              </tr>
              <tr style="height: 40px">
                <td colspan="8" style="justify-content: center; align-items: center">
                  <h5 style="
                text-align: center;
                margin: 0px;
                padding: 0px;
                font-weight: 600;
              ">
                    Delivery Details
                  </h5>
                </td>
              </tr>
              <tr style="height: 20px">
                <th colspan="2" style="text-align: center">ADD</th>
                <th colspan="2" style="text-align: center">Arrived On</th>
                <th colspan="2" style="text-align: center">
                  Date of Last Attempt | No. of Attempt
                </th>
                <th colspan="2" style="text-align: center">Reason | Rec. Person</th>
              </tr>
              <tr style="height: 20px">
                <td colspan="2" style="text-align: center">29-01-2024</td>
                <td colspan="2" style="text-align: center">29-01-2024</td>
                <td colspan="2" style="text-align: center">| 0</td>
                <td colspan="2" style="text-align: center"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-common-wrapper-webxpress>

<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  p,
  div {
    margin: 0;
    padding: 0;
  }
</style>